<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Edit Office')"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-4">

    <h2>Edit Office</h2>

    <div class="card p-4">

        <form th:action="@{/offices/edit/{id}(id=${office.id})}"
              th:object="${office}"
              method="post">

            <div class="mb-3">

                <label>City</label>

                <input type="text"
                       th:field="*{city}"
                       class="form-control">

            </div>

            <div class="mb-3">

                <label>Address</label>

                <input type="text"
                       th:field="*{address}"
                       class="form-control">

            </div>

            <button class="btn btn-success">
                Update Office
            </button>

            <a href="/offices" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

</body>
</html>